<div class="controls" id="count-down-the-days-div" style="display: none">
  <div style='position: absolute; top: 20px; width: 100%;'>\
    <div id='occasion2' class='wrapper loginForm thm-login thm-login-text' style='display: none; margin-left: auto; margin-right: auto; width: 303px; padding: 20px 40px; text-align: center;'>\
      <div class='thm-login'>\
        <span id='occasion-name2'></span>\
        <span id='occasion-message2'></span>\
        <span id='occasion-days2'></span>\
        <span id='occasion-hours2'></span>\
        <span id='occasion-minutes2'></span>\
        <span id='occasion-seconds2'></span>\
      </div>\
    </div>\
  </div>
</div>
